# Node modules
node_modules/
**/node_modules/


# Environment variables
.env
.env.local
# Logs
*.log
# Build output
dist/
# OS files
.DS_Store
Thumbs.db
target/
test_snapshots/
node_modules
CON
*.tsbuildinfo
